import psutil, libvirt, os, time, json
from xml.etree import ElementTree

class Host():
	def __init__(self):
		pass

	def host_cpu(self):
		i = 0
		data = {}
		cpu = psutil.cpu_percent(interval=1, percpu=True)
		for core in cpu:
			data["core"+str(i)] = core
			i+=1
		return data

	def host_ram(self):
		data = {}
		mem = psutil.virtual_memory()
		data['percent'] = mem.percent
		data['max'] = mem.total
		return data

	def host_disk(self):
		data = {}
		strg1 = psutil.disk_io_counters()
		time.sleep(1)
		strg2 = psutil.disk_io_counters()
		data['read'] = strg2.read_bytes-strg1.read_bytes
		data['write'] = strg2.write_bytes-strg2.write_bytes
		strg = psutil.disk_usage('/')
		data['usage'] = strg.used
		data['max'] = strg.total
		return data

	def host_net(self):
		data = {}
		nt = psutil.net_io_counters(pernic=True)
		time.sleep(1)
		nt2 = psutil.net_io_counters(pernic=True)
		for nic in nt:
			if nic=='{{wan_iface}}' or nic=='{{lan_iface}}':
				data[nic] = {}
				sent = abs(nt2[nic].bytes_sent - nt[nic].bytes_sent)
				recv = abs(nt2[nic].bytes_recv - nt[nic].bytes_recv)
				data[nic]['sent'] = sent
				data[nic]['recv'] = recv
		return data

	def stat(self):
		data = {}
		data['cpu'] = self.host_cpu()
		data['ram'] = self.host_ram()
		data['disk'] = self.host_disk()
		data['net'] = self.host_net()
		return data

class VNF():
	def __init__(self, name):
		self.conn = libvirt.open('qemu:///system')
		self.dom = self.conn.lookupByName(name)

	def vnf_state(self):
		return self.dom.isActive()
		
	def vnf_cpu(self):
		return self.dom.info()[3]

	def vnf_ram(self):
		return self.dom.info()[2]

	def vnf_disk(self):
		tree = ElementTree.fromstring(self.dom.XMLDesc())
		target = tree.find('devices/disk/source').get('file')
		res = os.path.getsize(target)
		return res

	def stat(self):
		data = {}
		data['state'] = self.vnf_state()
		data['cpu'] = self.vnf_cpu()
		data['ram'] = self.vnf_ram()
		data['disk'] = self.vnf_disk()
		return data

	def __del__(self):
		self.conn.close()

class Stats():

	def getStats(self):
		data = {}
		data['datetime']=time.strftime("%Y%m%d-%H%M")
		host = Host()
		data['host'] = host.stat()

		data['vRouter'] = False
		data['vFirewall'] = False

		try:
			vrouter = VNF('vRouter')
			data['vRouter'] = vrouter.stat()
			del vrouter
		except Exception as e:
			print e
		try:
			vfirewall = VNF('vFirewall')
			data['vFirewall'] = vfirewall.stat()
			del vfirewall
		except Exception as e:
			print e		

		return data

'''
stat = Stats()
print json.dumps(stat.getStats())
'''