# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto {{wan_iface}}
iface {{wan_iface}} inet manual

auto {{br_wan}}
iface {{br_wan}} inet dhcp