#!/bin/bash

#Adding WAN iface after reboot
ovs-vsctl add-port {{br_wan}} {{wan_iface}} 
dhclient {{br_wan}}
# Bring bridges UP
ip link set {{br_vnf}} up
ip link set {{br_lan}} up

# vManagement Interface 1 paired with enp2s0
ip link add dev vmgmt1 type veth peer name vmgmt3
ip addr add 10.10.10.254/24 dev vmgmt1
ip link set vmgmt1 up
ip link set vmgmt3 up

# vManagement Interface 2 paired with enp3s0
ip link add dev vmgmt2 type veth peer name vmgmt4
ip addr add 10.10.11.254/24 dev vmgmt2
ip link set vmgmt2 up
ip link set vmgmt4 up

# vRouter VNF Management Interface pair
ip link add dev vnfmgmt1 type veth peer name vnfmgmt2
ip addr add 192.168.122.3/29 dev vnfmgmt1
ip link set vnfmgmt1 up
ip link set vnfmgmt2 up

# vFirewall VNF Interface pair
ip link add dev vnf1 type veth peer name vnf2
ip addr add 192.168.123.3/29 dev vnf1
ip link set vnf1 up
ip link set vnf2 up
